{% extends "layout.html" %}
{% block loginform %}   
  <form method="POST" action="">
    <div class="login-box">
      <h1>Login</h1> 
      <div class="textbox">
        <i class="userimg"></i>
        <input type = "text" name= "fname" placeholder="Username"> 

      </div>
      <div class="textbox">
        <i class="passwordimg"></i>
        <input type = "text" name = "lname" placeholder="Enter Password">
      </div>
      <input class="submitButton" type = "submit" value="Submit">
      <h6>Don't have an account?</h6> 
       <a href="/sign-up" class="signupButton">SIGN UP!</a>
    </div>
  </form>
{% endblock loginform %}
        