<!DOCTYPE html>
<html>
  <head>
    <title>Network Analyzer</title>
    <meta charset="UTF-8">
    <!-- <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css"> -->
    <link href="../static/styles/style.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <br>
  <div class="bg">
    <div class="topnav">
        <ul>
          <li><a class="Networkanalyzer" href="#">NETWORK ANALYZER</a></li>
        <li><a class="How to use" href="#">HOW TO USE</a></li>
        <li><a class="About" href="#">ABOUT</a></li>
        <li><a class="Login" href="/login">LOGIN</a></li>
      </ul>
    </div>
    </div>

    {% block loginform %} {% endblock %}
    {% block registration %} {% endblock %}

  </body>
</html>