
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("images/6704.jpg");

  /* Full height */  
  height: 1500px; 
  /*opacity: 50%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: 1800px 1800px;
}

.topnav {
	background-color: rgba(000, 000, 000, 0.9);
	overflow: hidden;
	border-top: 10px solid black;
	border-bottom: 10px solid black;
	/*font-family: 'Alcubierre';
	font-size: 16px;
	line-height: 15px;
	font-weight: normal;
	font-stretch: extra-expanded;*/
	font: normal normal normal 20px/1.4 Alcubierre;
}

.topnav ul {
	list-style: none;
	background: transparent;
	padding: 0;
	margin: 0;
	text-align: center;
}

.topnav li {
	display: inline-block;
}

.topnav a {
	color: #fff;
	padding: 12px;
	width: 175px;
	display: block;
	text-decoration: none;
	font-size: 17px;
} 

.topnav a:hover {
	border-radius: 50px;
	background-color: #fff;
	color: black;
}

.topnav a:active {
	border-radius: 50px;
	background-color: #fff;
	color: white;
}

.topnav a:focus {
	border-radius: 50px;
	background-color: #fff;
	color: black;
}



.login-box {
	width: 280px;
	margin: 0;
	padding: 0;
	/*position-top: 200px;*/
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-60%,-40%);
	color: white;
}

.login-box h1 {
	float: left;
	border-bottom: 6px solid #fff;
	margin-bottom: 50px;
	padding : 0px 0;
	font-family: "Akrobat black";
	font-size: 56px;
}

.login-box h6 {
	float: left;
	margin: 20px 0px;  
	padding : 0px 0;
	font-family: "Calibri";
	font-weight: normal;
	font-size: 16px;
}

.userimg {
	background-image: url("images/User.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.passwordimg {
	background-image: url("images/Password.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.textbox i {
	width: 28px;
	height: 28px;
	float: left;
	text-align: center;
}

.textbox input {
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 16px;
	width: 80%;
	float: left;
	margin: 2px 10px;
}

.textbox {
	margin: 8px 0;
	display: block;
	width: 100%;
	overflow: hidden;
	font-size: 28px;
	padding: 8px 0; 
	border-bottom: 1px solid #fff;
}

.submitButton {
	width: 100%;
	background: none;
	padding: 5px;
	border: 2px solid #fff;
	color: white;
	font-size: 18px;
	cursor: pointer;
}

.submitButton:hover ,.signupButton:hover,.signupForm:hover {
	color: black;
	background: white;
}

.signupButton {
	float: right;
	width: 66px;
	height: 16px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 20px 0px;
	border: 2px solid white;
	text-decoration: none;
	text-align: center;
	font-family: Calibri;
	color: white;
	font-size: 14px;
	background: none;
	display: block;	
	cursor: pointer;
}


.invalid-feedback {
	font-family: Calibri;
	font-size: 12px;
	font-weight: lighter;
	color: red;
}

.fieldset {
    height: 400px;
    width: 300px;
    border: 4px solid white;
    padding: 10px;
    margin-bottom: 10px;
}

.signupForm {
	width: 328px;
	padding-left: 2.45px;
	background: none;
	color: white;
	cursor: pointer;
	border: 2px solid white;
	padding: 5px;
	margin-left: 2.3px;
	text-decoration: none;
	text-align: center;
	font-family: Calibri;
	font-size: 16px;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-success hr {
	border-top-color: #c9e2b3;
}
.alert-success .alert-link {
	color: #2b542c; 
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-info hr {
	border-top-color: #a6e1ec;
}
.alert-info .alert-link {
	color:#245269;
}
.alert-warning {
	color:#8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-warning hr {
	border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
	color:#66512c;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert-danger hr {
	border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
	color:#843534
}

.container {
	position: fixed;	
	width: 400px;
	height: 16px;
	position: fixed;
	top: 65%;
	left: 38%;
    z-index: 999;
	text-align: center;
	margin: 2em auto;

}

.rememberMe {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Calibri;
	cursor: pointer;
}

.scanButton {
	position: absolute;
	width: 125px;
	height: 30px;
	margin-top: 50px;
	top: 60%;
	left: 50%;
	transform: translate(-60%,300%);
	background-color: white;
	border: 1.4px solid white;
	text-decoration: none;
	text-align: center;
	font-family: "Muli";
	font-weight: lighter;
	color: white;
	font-size: 20px;
	background: black;
	cursor: pointer;
}

.scanButton:hover, .saveButton:hover, .scanlaterButton:hover {
	background: white;
	color: black;
}

.rounded-circle{
	border-radius:50%;
}

.account-box {
	width: 320px;
	height: 220px;
	border: 2px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 55%;
	left: 48%;
	transform: translate(-50%,-0%);
	color: white;
}

.account-box h2 {
	float: right;
	font-family: "Muli";
	font-size: 46px;
	font-weight: lighter;
	margin-bottom: 10px;
}

.account-box p {
	float: right;
	font-family: "Muli";
	font-weight: lighter;
	transform: translate(-0%,-370%);
}

.account-img {
  height: 125px;
  padding-top: 20px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

input::placeholder {
	color: #fff;
}

input, select, textarea{
    color: #fff;
}

textarea:focus, input:focus, select {
    color: #fff;
}

.content-table {
	border-collapse: collapse;
	margin: 25px 0;
	background-color: rgba(000, 000, 000, 0.4);
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-60%,-40%);
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #fff;
  color: #000;
  font-weight: lighter;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: left;
  font-family: "Noto Sans"

}

.table-box {
	width: 480px;
	margin: 0;
	padding: 0;
	/*position-top: 200px;*/
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-60%,-40%);
	color: white;
}
.content-table tbody tr {
  color: #fff;
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-child(even) {
  background: #9b9b9b;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.saveButton, .scanlaterButton {
	margin-top: 50px;
	position: absolute;
	width: 125px;
	height: 30px;
	top: 60%;
	transform: translate(-80%,-850%);
	background-color: white;
	border: 1.4px solid white;
	text-decoration: none;
	text-align: center;
	font-family: "Muli";
	font-weight: lighter;
	color: white;
	font-size: 20px;
	background: black;
	cursor: pointer;
}

.saveButton {
	left: 40%;
}
.scanlaterButton {
	left: 55%;
}
