
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("images/6704 [Converted].jpg");

  /* Full height */  
  height: 1500px; 
  /*opacity: 50%;*/

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat;
  background-size: 1800px 1800px;
}

.topnav {
	background-color: rgba(255, 255, 255, 0.9);
	overflow: hidden;
	margin: 0 auto;
	/*font-family: 'Alcubierre';
	font-size: 16px;
	line-height: 15px;
	font-weight: normal;
	font-stretch: extra-expanded;*/
	font: normal normal normal 20px/1.4 Alcubierre;
}

.topnav ul {
	list-style: none;
	background: transparent;
	padding: 0;
	margin: 0;
	text-align: center;
}

.topnav li {
	display: inline-block;
}

.topnav a {
	color: #000;
	padding: 12px;
	width: 175px;
	display: block;
	text-decoration: none;
	font-size: 17px;
} 

.topnav a:hover {
	border-radius: 50px;
	background-color: #000;
	color: white;
}

.topnav a:active {
	border-radius: 50px;
	background-color: #000;
	color: white;
}

.topnav a:focus {
	border-radius: 50px;
	background-color: #000;
	color: white;
}

.login-box {
	width: 280px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
}

.login-box h1 {
	float: left;
	border-bottom: 6px solid #000;
	margin-bottom: 50px;
	padding : 0px 0;
	font-family: "Akrobat black";
	font-size: 56px;
}

.login-box h6 {
	float: left;
	/*border-bottom: 6px solid #000;
	margin-bottom: 50px;*/
	margin: 20px 0px;  
	padding : 0px 0;
	font-family: "Calibri";
	font-weight: normal;
	font-size: 16px;
}

.userimg {

	/*display: block;*/
	/*float: left;*/
	background-image: url("images/User.png");
	/*width: 28px;
	height: 28px;*/
	background-repeat: no-repeat;
	background-size: contain;
}

.passwordimg {

	/*display: block;*/
	/*float: left;*/
	background-image: url("images/Password.png");
	/*width: 28px;
	height: 28px;*/
	background-repeat: no-repeat;
	background-size: contain;
}

.textbox i {
	width: 28px;
	height: 28px;
	float: left;
	text-align: center;
}

.textbox input {
	border: none;
	outline: none;
	background: none;
	color: black;
	font-size: 16px;
	width: 80%;
	float: left;
	margin: 2px 10px;
}

.textbox {
	margin: 8px 0;
	display: block;
	width: 100%;
	overflow: hidden;
	font-size: 28px;
	padding: 8px 0; 
	border-bottom: 1px solid #000;
}

.submitButton {
	width: 100%;
	background: none;
	padding: 5px;
	border: 2px solid #000;
	color: black;
	font-size: 18px;
	cursor: pointer;
}

.submitButton:hover ,.signupButton:hover,.signupForm:hover {
	color: white;
	background: black;
}

.signupButton {
	float: right;
	width: 66px;
	height: 16px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 20px 0px;
	border: 2px solid black;
	text-decoration: none;
	text-align: center;
	font-family: Calibri;
	color: black;
	font-size: 14px;
	background: none;
	display: block;	
	cursor: pointer;
}


.invalid-feedback {
	font-family: Calibri;
	font-size: 12px;
	font-weight: lighter;
	color: red;
}

.fieldset {
    height: 400px;
    width: 300px;
    border: 4px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.signupForm {
	width: 328px;
	padding-left: 2.45px;
	background: none;
	color: black;
	cursor: pointer;
	border: 2px solid black;
	padding: 5px;
	margin-left: 2.3px;
	text-decoration: none;
	text-align: center;
	font-family: Calibri;
	color: black;
	font-size: 16px;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-success hr {
	border-top-color: #c9e2b3;
}
.alert-success .alert-link {
	color: #2b542c; 
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-info hr {
	border-top-color: #a6e1ec;
}
.alert-info .alert-link {
	color:#245269;
}
.alert-warning {
	color:#8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-warning hr {
	border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
	color:#66512c;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert-danger hr {
	border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
	color:#843534
}

.container {
	position: fixed;	
	width: 400px;
	height: 16px;
	position: fixed;
	top: 65%;
	left: 38%;
    z-index: 999;
	text-align: center;
	margin: 2em auto;

}

.rememberMe {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Calibri;
	cursor: pointer;
}

.scanButton {
	position: relative;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: black;
	margin: 20px 0px;
	border: 2px solid black;
	text-decoration: none;
	text-align: center;
	font-family: Calibri;
	color: black;
	font-size: 14px;
	background: none;
	display: block;	
	cursor: pointer;
}
