<!DOCTYPE html>
<html>
  <head>
    <title>Network Analyzer</title>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="../networkanalyzer/static/styles/style.css" rel="stylesheet" type="text/css"> -->

  </head>

  <body>
  <div class="bg">
    <div class="topnav">
        <ul>
          <li><a class="Networkanalyzer" href="{{url_for('home')}}">NETWORK ANALYZER</a></li>
        <li><a class="Howtouse" href="#">HOW TO USE</a></li>
        <li><a class="About" href="#">ABOUT</a></li>
        {% if current_user.is_anonymous %}
          <li><a class="Login" href="{{url_for('login')}}">LOGIN</a></li>
          <!-- <li><a class="Register" href="{{url_for('register')}}">REGISTER</a></li> -->
        {% else %}
          <li><a class="Logout" href="{{url_for('logout')}}">LOGOUT</a></li>
          <li><a class="account" href="{{url_for('account')}}">ACCOUNT</a></li>
        {% endif %}
      </ul>
    </div>
    </div>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
      {% block account %} {% endblock %}
      {% block home %} {% endblock %}
      {% block loginform %} {% endblock %}
      {% block registration %} {% endblock %}
      {% block table %} {% endblock %}
    

  </body>
</html>